APPLE_IOS_AUDIENCE=
APP_ACCESS_TOKEN_MINUTES=
APP_REFRESH_TOKEN_DAYS=
APP_SESSION_SECRET=
CRICAPI_BASE_URL=
CRICAPI_KEY=
GOOGLE_ANDROID_CLIENT_ID=
IPL_SERIES_ID=
LIVE_CACHE_TTL_SECONDS=
MATCHDAY_CACHE_PATH=
MATCHDAY_INFO_TTL_SECONDS=
MATCHDAY_SCHEDULE_TTL_SECONDS=
MATCHDAY_SQUAD_TTL_SECONDS=
SQUAD_REFRESH_LEAD_MINUTES=
WEATHER_CACHE_TTL_SECONDS=
WEATHER_FORECAST_URL=
WEATHER_GEOCODE_URL=